name: Deploy with Gcloud
on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install GCloud CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y google-cloud-cli

      - name: Decode and write SA key
        run: |
          echo "${{ secrets.GCLOUD_SA_KEY_B64 }}" | base64 --decode > /tmp/key.json

      - name: Set ADC Env
        # Tells future steps to use /tmp/key.json as the default credentials
        run: echo "GOOGLE_APPLICATION_CREDENTIALS=/tmp/key.json" >> $GITHUB_ENV

      - name: Install Dependencies
        run: |
          cd functions
          npm install

      - name: Run Tests and Generate Coverage Report
        run: |
          cd functions
          npm test -- --coverage
            
      - name: Upload Jest Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: jest-coverage-report
          path: functions/coverage/*

      - name: Deploy using Firebase CLI
        if: success()
        run: |
          npm install -g firebase-tools
          firebase deploy --only functions,hosting
